@model IEnumerable<DiaryEntryViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Profile</title>
  <link rel="stylesheet" href="~/css/Profile/style.css">
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="nav__menu">
        <div class="nav__menu__item1">
          <a asp-controller="Home" asp-action="Index">LIFE BALANCE</a>
        </div>
        <div class="nav__menu__item2">
          <a asp-controller="Diary" asp-action="Create">DIARY</a>
        </div>
        <div class="nav__menu__item3">
           <a asp-controller="Profile" asp-action="Index">PROFILE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="background">
      <div class="container">
        <div class="profile">
          <div class="profile__about">
            <div class="profile__about__title">
              <p>PROFILE</p>
            </div>
            <div class="profile__logout">
              <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" asp-controller="Account" asp-action="Logout" value="Logout" />
              </form>
            </div>
            <div class="profile__menu">
              <div class="profile__menu__item1">
                <a class="menu_item1" href="#">DIARY</a>
              </div>
            </div>
          </div>
          <div class="profile_entries">
            <div class="about__entries">
              <p>ENTRIES</p>
            </div>
            <div class="profile__menu__entries">
              @foreach (var item in Model)
              {
                <div class="profile__menu__entries__item1">
                <div class="pr__title">
                  <p>@item.Title</p>
                </div>
                <div class="pr__block">
                  <div class="pr__input">
                    <textarea disabled value="@item.Entry">@item.Entry</textarea>
                  </div>
                  <div class="pr__buttons">
                    <div class="pr__button1">
                      <a asp-controller="Diary" asp-action="Info" asp-route-id="@item.Id">Info</a>
                    </div>
                    <div class="pr__button1">
                      <a asp-controller="Diary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </div>
                    <div class="pr__button1">
                      <a asp-controller="Diary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__row">
      <div class="footer__text">
        <p>Backend: <a href="https://www.linkedin.com/in/egor-kliutsuk/" target="_blank">Egor Kliutsuk</a></p>
        <p>Front-end: <a href="https://github.com/YanSurma" target="_blank">Yan Surma</a></p>
      </div>
    </div>
  </div>
</body>

</html>