@model IEnumerable<DiaryEntryViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
<div class="nav__menu__item3">
     <form method="post" asp-controller="Account" asp-action="Logout">
         <input type="submit" value="Logout"/>
     </form>
</div>
    @if (Model.Any())
    {
        <div>
            @foreach (var item in Model)
            {
                <div>
                    <div>
                        <div>
                            <a asp-controller="Diary" asp-action="Info" asp-route-id="@item.Id">
                                <h5>@item.Title</h5>
                            </a>
                            <h6>@item.Entry</h6>
                            <p>@item.Date</p>

                            <a asp-controller="Diary" asp-action="Edit" asp-route-id="@item.Id"><i></i>Edit"</a>
                            <a asp-controller="Diary" asp-action="Delete" asp-route-id="@item.Id"><i></i>Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <h4>Welcome</h4>
            <p>Manage</p>
            <hr>
            <p>Fill</p>
        </div>
    }
</div>
</body>
</html>